body {
  font-family: "Verdana", serif;
  background-image: linear-gradient(0deg, #ff0000 20%, #000000 90%);
  color: #ffffff;
  background-attachment: fixed;
}
a {
  text-decoration-line: none;
  color: #1b96bd;
  font-weight: 500;
  transition: color 2s;
}
#container {
  margin: 0 10% 0 10%;
}

.cabecalho {
  background-color: rgba(0,0,0,0.5);
  transition: color 2s;
  padding: 40px;
  font-size: 40px;
  position: relative;
}

li {
  text-decoration-line:none;
  display: inline;
  padding: 0 5px 0 5px;

}

a:HOVER  {
  color: #1d98bf;
}

figure {
  display: inline-block;
  border: 2px solid #000000;
  box-shadow: 2px 2px 5px #000000;
  padding: 5px 5px 150px 5px;
  box-sizing: border-box;
  position: relative;
 }

 figcaption {
   position: absolute;
 }

.rodape {
  padding: 50px;
  background-color: rgba(0,0,0,0.5);
  font-size: 30px;
}
