@charset "UTF-8";

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Verdana' sans-serif;
  background-color: #000000;
  background-image: linear-gradient(0deg, #ff0000 20%, #000000 90%);
  color: #ffffff;
}

a{
  text-decoration: none;
  color: #1B96BD;
}

.container{
  margin: 0% 10% 0% 10%;
}

.cabecalho{
  background-color: rgba(0, 0, 0, 0.5);
  padding: 40px;
  font-size: 40px;
  position: relative;
}

.cabecalho ul li{
  list-style: none;
  display: inline;
  padding: 0 5px;
  background-color: none;
  border-radius: 5px;
  transition: background-color 2s;
}

figure{
  display: inline-block;
  border: 2px solid black;
  box-shadow: 2px 2px 5px black;
  padding: 5px 5px 150px 5px;
  position: relative;
}
figcaption{
  position: absolute;
}

.rodape{
  padding: 50px;
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 30px;
}
.cabecalho ul li:hover{
  background-color: white;
  color: #0226a8;
}
.artista{
  font-weight: 600px;
}
